[Unit]
Description=Zettabyte File System (ZFS)
Documentation=man:zfs(8) man:zpool(8)
DefaultDependencies=no
After=cryptsetup.target
Before=local-fs.target
Conflicts=shutdown.target umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/modprobe zfs
ExecStart=/usr/bin/zpool import -c /etc/zfs/zpool.cache -aN
ExecStart=/usr/bin/zfs mount -a
ExecStart=/usr/bin/zfs share -a
ExecStop=/usr/bin/zfs umount -a

[Install]
WantedBy=local-fs.target
